* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    background: rgb(202, 197, 197);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #02FFFC;
    padding: 0.5rem;
}

.logo-cabecalho {
    height: 80px;
    width: 120px;
}

#desktop {
    display: block;
}

.lateral {
    display: none;
}

.hamburguer__img {
    display: none;
    
}

.menu__lista {
    display: flex;
    list-style: none;
    
}

.menu__item {
    margin: 1rem;
    text-transform: uppercase;
    transition: transform 0.3s;
}

.menu__item:hover {
    transform: scale(1.1);
}

.menu__link {
    text-decoration: none;
    color: rgb(11, 10, 10);
    font-weight: 600;
    font-size: 1.2rem;
    transition: 0.3s;
    
}

.menu__link:hover {
    color: #ef0d64;
}

.carrossel {
    overflow: hidden;
    width: 100vw;
    height: 400px;
    margin: 0 auto;
}

.container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.container__imagem-principal {
    width: 100vw;
    height: 400px;
    object-fit: auto;
}

.sobre-nos {
    background: #02FFFC;
    padding: 2rem 0 4rem 0;
}

.sobre-nos__subtitulo, .especialidades__subtitulo, .localizacao__subtitulo, .contato__subtitulo {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.sobre-nos__titulo, .especialidades__titulo, .localizacao__titulo, .contato__titulo {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;

}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5rem;
    max-width: 900px;
    margin: 0 auto;

}

.conteudo__imagem {
    max-width: 400px;
    width: 100%;

}

.conteudo__imagem--img {
    width: 100%;
    height: 400px;

}

.conteudo__texto {
    max-width: 400px;
    width: 100%;
}

.conteudo__texto--titulo {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.3rem;

}

.conteudo__texto--txt {
    line-height: 2rem;
    text-align: justify;

}

.especialidades, .contato {
    padding: 1rem 0 4rem 0;
    background: #192426;
}

.especialidades__titulo, .especialidades__subtitulo, .contato__titulo, .contato__subtitulo {
    color: whitesmoke;
}

.cards {
    display: block;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

.card {
    width: calc(33.33% - 4rem);
    height: 550px;
    border: 1px solid white;
    margin: 2rem;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px #02FFFC;
    transition: transform 0.3s;

}

.card:hover {
    transform: scale(1.08);
    border: 1px solid #02FFFC;
}

.card__img {
    width: 100%;
    height: 40%;
    

}

.card__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-height: 60%;
    height: 50%;
    padding: 1rem;
    margin-top: 1.5rem;
}

.card__conteudo--titulo {
    text-align: center;
    font-size: 1.5rem;

}


.card__conteudo--texto {
    text-align: justify;
    line-height: 2rem;


}

.fale-conosco {
    margin-top: 3rem;
    text-align: center;
}

.fale-conosco__botao {
    padding: 0.8rem;
    border-radius: 10px;
    width: 200px;
    font-size: 1.5rem;
    background: #efa8ef;
    cursor: pointer;
    transition: 0.5s;
}

.fale-conosco__botao:hover {
    background: #02FFFC;
}

.fale-conosco__link {
    text-decoration: none;
    color: black;
}

.localizacao {
    padding: 2rem 0 4rem 0;
    background: #02FFFC; 
}


.localizacao__conteudo {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.localizacao__mapa {
    width: 100%;
}

.contato__subtitulo {
    text-align: center;

}

.lista {
    width: 100%;
    display: flex;
    justify-content: center;
  

}

.lista__item {
    margin: 0.5rem;

}

.lista__link--img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s;
}

.lista__link--img:hover {
    transform: scale(1.3);

}

footer {
    background: #02FFFC;
    padding: 2rem;
    font-size: 1.1rem;
    text-align: center;
    font-weight: 600;
}

.img-footer {
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    right: 1rem;
    bottom: 2rem;
    cursor: pointer;
    transition: trnansform 0.3s;
}

.img-footer:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 768px) {
    #desktop {
        display: none;
    }

    #mobile {
        margin-top: 10rem;
    }

    .menu-mobile__lista {
        list-style: none;
        
        
    }

    .menu-mobile__item {
        padding: 2rem;
        text-transform: uppercase;
       
    }

    .menu-mobile__link {
        text-decoration: none;
        color: aliceblue;
        font-size: 1.2rem;

    }

    .hamburguer__img {
        display: block;
        height: 70px;
        margin-right: 1rem;
        
    }

    .lateral {
        display: block;
        max-width: 360px;
        width: 80vw;
        height: 100vh;
        top: 0;
        right: -360px;
        background: black;
        position: fixed;
        z-index: 1;
        transition: 0.5s;

    }

    .botao {
        padding: 1rem;
        position: absolute;
        right: 1rem;
        

    }

    .botao__fechar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        
    }

    .botao__img--fechar {
       width: 100%;
    }

   
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    .conteudo__imagem {
        margin-bottom: 2rem;
    }

    .card {
        width: 100%;
        border: 1px solid white;
        height: 400px;
    
    }

    .card__img {
        height: 50%;
    }

    .card__conteudo {
        color: white;
        margin-top: 0;
    }


   
}